# ============================================================
# MS-08 CI/CD PIPELINE - Variables de Entorno
# ============================================================

PORT=8888

# Conexion a MS-12
DB_HOST=localhost
DB_PORT=5432
DB_NAME=qasl_nexus
DB_USER=qasl_admin
DB_PASSWORD=qasl_nexus_2026

# URLs de microservicios
MS02_URL=http://localhost:4000
MS03_URL=http://localhost:6001
MS04_URL=http://localhost:7500
MS06_URL=http://localhost:7600
MS09_URL=http://localhost:8000
MS10_URL=http://localhost:5000
MS11_URL=http://localhost:9000
